
/************************************************* Default*/
:root {
  --primary-color:black;
  --secondary-color:#4D52DE;
  --primaryword-color:white;
  --secondaryword-color:black;
  --firstaccent-color:#FFBF6E;
  --secondaccent-color:#56AA69;

  font-family: 'Montserrat', sans-serif;
  
}
html {
  scroll-behavior: smooth;
}
body {
    background: var(--primary-color);
    padding:0px;
    margin:0px;
    color: var(--primaryword-color);
    
  }
  a {
    text-decoration: none;
    transition: all .9s ease;
  }
  a:visited {
    color:inherit;
  }
  a:hover {
    transform: scale(1.2);
  }
  hr {
    margin:50px 0px 50px 0px
  }
  /*******************************Navigation*/
  nav {
    position:fixed;
    top:0px;
    width:100%;
    height:50px;
    background: var(--secondary-color);
    z-index:1;
    border-radius: 50px;
    padding:10px;
    box-shadow:
        200px 10px 0 0px var(--firstaccent-color),
        25px 20px 0 0px var(--secondaccent-color);
    font-size: 2em;
    text-decoration: none  white;  }
  nav ul {
    display:flex;
    list-style:none;
    justify-content:flex-end;
    margin:10px;
  }
  nav li {
    padding-right:2em;
  }
  a {
    text-decoration: none;
  }
  /**************************Welcome-Section*/
  header {
    position:relative;
    top:60px;
    
  }
  #welcome-section {
    height:100vh;
  }
.slantedtextup {
  transform:skew(60deg, -20deg) scaleY(.56667);
  background-color: var(--secondary-color);
  padding:20px 20px 20px 50px;
  margin-left: 100px;
  margin-top:50px;
  border-radius: 60px;
  box-shadow:
  -40px 10px 0 0px var(--firstaccent-color),
  25px 20px 0 0px var(--secondaccent-color);
}
.slantedtextdown {
  transform:skew(-10deg, -20deg) scaleY(1);
  background-color: var(--secondaccent-color);
  padding:20px 20px 20px 50px;
  margin-left: 80px;
  border-radius: 50px;
  box-shadow:
  200px 10px 0 0px var(--firstaccent-color),
  25px 20px 0 0px var(--secondary-color);
}
#lineThree {
  margin-left:180px;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
/*********************************Projects*/
#projects {
  background: var(--secondaccent-color);
  border-radius: 0px 500px 500px 0px;
  padding:25px 100px 100px 25px;
  box-shadow:
  0px 50px 0 0px var(--firstaccent-color),
  0px 100px 0 0px var(--secondary-color);
  text-align: center;
  margin-bottom: 200px;
}
.project-grid {
  display: flex;
  flex-wrap: wrap;
  
}
figure {
  display: flex;
  flex-direction: column;
  background: var(--primaryword-color);
  color: var(--secondaryword-color);
  padding: 10px;
}  
figure img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  

}
figcaption {
  font-size: 1.2em;
  text-align: center;
  padding:0px;
  
}
/**********************************Contact*/
#contact {
  text-align: center;
  
}
#contact div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#contact a {
  padding: 1em;
  font-size: 3em;

}

footer {
  text-align: center;
  margin-top: 5em;
}

/********************************************Break Points*/
@media screen and (max-width: 425px) {
    h1 {
      font-size: 3em;

    }
    h2 {
      font-size: 1.3em;

    }
    nav {
      font-size: 1em;
    }
    #contact a {
      font-size: 2em;

    }
}
/***********************************************Button*/
button{
  background:var(--secondaccent-color);
  color:var(--primaryword-color);
  border:none;
  padding:1rem;
  margin:1rem;
  font-size:1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  transition:800ms ease all;
  border-radius: 50px;
}
button:hover {
  background: var(--secondary-color);
  box-shadow:
      20px 5px 0 0px var(--firstaccent-color),
      5px 15px 0 0px var(--secondaccent-color);
}