/************************************************* Default*/
:root {
  --primary-color:black;
  --secondary-color:#0066FF;
  --primaryword-color:white;
  --secondaryword-color:black;
  --firstaccent-color:yellow;
  --secondaccent-color:red;
}
html {
  scroll-behavior: smooth;
}
body {
    background: var(--primary-color);
    padding:0px;
    margin:0px;
    color: var(--primaryword-color);
    
  }
  /*******************************Navigation*/
  nav {
    position:fixed;
    top:0px;
    width:100%;
    height:50px;
    background: var(--secondary-color);
    z-index:1;
    border-radius: 0% 0% 100% 100% / 0% 0% 0% 100%;
    padding:10px;
  }
  nav ul {
    display:flex;
    list-style:none;
    justify-content:flex-end;
    margin:10px;
  }
  nav li {
    padding:5px;
  }
  /**************************Welcome-Section*/
  #welcome-section {
    position:relative;
    top:50px;
    height:100vh;
  }

/*********************************Projects*/
.spacer {
  aspect-ratio: 900/600;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url('images/wave-haikei.svg');
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
/**********************************Contact*/

/********************************************Break Points*/
