/************************************************* Default*/
:root {
  --primary-color:black;
  --secondary-color:#0066FF;
  --primaryword-color:white;
  --secondaryword-color:black;
  --firstaccent-color:yellow;
  --secondaccent-color:red;
}
html {
  scroll-behavior: smooth;
}
body {
    background: var(--primary-color);
    padding:0px;
    margin:0px;
    color: var(--primaryword-color);
    
  }
  /*******************************Navigation*/
  nav {
    position:fixed;
    top:0px;
    width:100%;
    height:50px;
    background: var(--secondary-color);
    z-index:1;
    border-radius: 50px;
    padding:10px;
    box-shadow:
        200px 10px 0 0px var(--firstaccent-color),
        25px 20px 0 0px var(--secondaccent-color);
    
  }
  nav ul {
    display:flex;
    list-style:none;
    justify-content:flex-end;
    margin:10px;
  }
  nav li {
    padding:5px;
  }
  /**************************Welcome-Section*/
  #welcome-section {
    position:relative;
    top:80px;
    height:100vh;
  }
.slantedtextup {
  transform:skew(60deg, -20deg) scaleY(.56667);
  background-color: var(--secondary-color);
  padding:20px 20px 20px 50px;
  margin-left: 100px;
  margin-top:50px;
  border-radius: 60px;
  box-shadow:
  200px 10px 0 0px var(--firstaccent-color),
  25px 20px 0 0px var(--secondaccent-color);
}
.slantedtextdown {
  transform:skew(-10deg, -20deg) scaleY(1);
  background-color: var(--secondaccent-color);
  padding:20px 20px 20px 50px;
  margin-left: 80px;
  border-radius: 50px;
  box-shadow:
  200px 10px 0 0px var(--firstaccent-color),
  25px 20px 0 0px var(--secondary-color);
}
#lineThree {
  margin-left:180px;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
/*********************************Projects*/

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
/**********************************Contact*/

/********************************************Break Points*/
@media screen and (max-width: 425px) {
    h1 {
      font-size: 3em;

    }
    h2 {
      font-size: 1.3em;

    }
}