html {
    background-color: var(--primary-color);
}
.myheader {
    text-align: center;
    margin: 60px;
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
}
.myheader h1 {
    font-weight: bold;
}

main {
    display: flex;
    font-family: 'montserrat', sans-serif;

}
.navList li {
    
    list-style-type: none;
    margin-left:3em;
    font-size: 1.3em;
 
    
}
.displaySection {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top:50px;
}

nav {
    position:fixed;
    top:0px;
    width:100%;
    height:80px;
    background: var(--secondary-color);
    z-index:1;
    border-radius: 50px;
    padding:10px;
    box-shadow:
        200px 10px 0 0px var(--firstaccent-color),
        25px 20px 0 0px var(--secondaccent-color);
    font-size: 2em;
    font-family:'montserrat', sans-serif;
  }
  nav ul {
    display:flex;
    list-style:none;
    justify-content:flex-end;
    margin:10px;
  }
  nav li {
    padding-right:2em;
  }


  .box {

      display: flex;
      justify-content: center;
      align-items: center;
  }