header {
    text-align: center;
    margin: 60px;
}

main {
    display: flex;
}
.navList li {
    
    list-style-type: none;
    /*
    font-size: 1.3em;
    padding: 1rem;
    */
}
.displaySection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
