body {
    font-family: 'Montserrat', sans-serif;}
h1 {

    text-align: center;
}

.senators {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
figure {
    width: 100px;
}
figure img {
    width: 100px;
    height:100px;
}
figcaption {
    font-size: 1rem;
}
#buttons {
    display:flex;
    justify-content: center;
}